:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
    --fonte-padrao: 'Inter';
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
    font-family: 'Inter';
}

.topo {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
}

#principal {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

#menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

    #principal div a:hover {
        color: #CCCCCC;
    }

#principal button {
   margin-right: 5%; 
   background-color: #0C70F2;
   border: 0px;
   width: 80px;
   height: 40px;
   border-radius: 5px;
   font-family: var(--fonte-padrao);
   color: white;
   box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
   cursor: pointer;
   
}

    #principal button:hover {
        color: #CCCCCC;
    }

    /*  Seção Principal do site  */

    section{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    header{
        color: white;
        font-family: var(--fonte-padrao);
    }

    header h1{
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 800px;
        margin-bottom: 20px;
        text-align: center;
    }

    header h2{
        text-align: center;
        font-size: 36px;
        font-weight: 700px;
        margin-bottom: 100px;
    }

    header .invert{
        background-color: black;
        font-weight: bold;
        padding: 5px;
    }

    /* Formulário */

    form{
        color: white;
        font-size: 30px;
        font-weight: 600px;
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 29.2%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 382px;
    }

    form #cadastrar{
        margin-left:29.2%;
    }

    form #cadastrar:hover{
        color: var(--cinza-hover);
    }

    form input{
        border-radius: 10px;
        height: 30px;
        border: 0px;
        font-size: 20px;
        padding: 10px;
        
        background-color: rgba(255, 255, 255, 0.9);
    }

    form label{
        margin: 10px 0px 10px 0px;
        
        
    }

    form input::placeholder{
        color: rgba(57, 57, 57, 0.5);
        
    }

    .checkboxItens label{
        font-size: 25px;
    }

    .checkboxItens{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input[type="checkbox"]{
        transform: scale(1.7);
    }

    input[type="submit"]{
        margin-top: 100px;
        background-color: rgba(12, 112, 242, 0.9);
        color: white;
        width: 42.1%;
        height: 56px;
        font-size: 32px;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }

    /* Footer */

    footer{
        background-color: var(--azul-dnc);
        width: 100%;
    }

    footer .linha1{
        display: flex;
        justify-content: space-around;
    }

    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        font-size: 18px;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer h5{
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 18px;
        background-color: var(--preto-dnc);
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
    }

    footer ul li{
        text-align: center;
        color: white;
        font-weight: 600;
        margin: 20px 0px 20px 0px;
    }

    footer ul li a{
        color: white;
        text-decoration: none;
    }

    footer ul li a:hover{
        color: var(--cinza-hover);
    }

    footer .endereço{
        font-weight: 600;
        font-size: 18px;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 120px;
    }

    footer .linha2{
        height: 35px;
        display: flex;
        justify-content:  center ;
        margin: 0px;
        padding: 10px;
    }

    footer .linha2 a{
        font-size: 18px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    footer .linha2 a:first-child{
        border-right: 2px solid white;
    }

    footer .linha2 a:hover{
    color: var(--cinza-hover);
    }

@media only screen and (max-width: 600px){
    /* Menu */
    #principal{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    #menu a{
        display: flex;
        align-items: center;
        height: 50px;
        
    }

    #principal button{
        width: 100%;
        margin: 0px;
    }

    /* Seção */

    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 27px;
        padding-right: 15px;
        padding-left: 15px;
    }

    /* Formulário */

    form{
        width: 10%;
        font-size: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        
        
    }

    .checkboxItens label{
        font-size: 15px;
    }

    .formGroup{
        margin-right: -335px;
    }

    input[type="submit"]{
        width: 930%;
    }

    /* Footer */

    footer .linha1{
        flex-direction: column;
    }

    footer .endereço{
        margin-bottom: 20px;
    }
}